selector {
  --var-name: brown;
}


#try {
    font-size: 120px;
    
}
/*span {
    font-size: 120px;
}*/

* {
   margin: 0;
   padding: 0;
}

html,
body {
   height: 100%;
}

body {
   background-color: lightblue;
   color: black;
}

.container {
   height: 100%;
   display: table;
   width: 100%;
   text-align: center;
}
.header {
   display: inline-block;
   height: 15px;
   width: 100%;
   background-color: lightblue;
}

#header-login-button, #header-logout-button, #header-signup-button {
	display: inline-block;
	width: 4.3em;
}

#header-title {
	margin-top: 2px;
	padding: 5px 0;
	font-size: 2.2em;
}
.main {
   height: 100%;
   display: table;
   width: 100%;
   background-color: lightpink;
}
.box {
   display: table-cell;
}
.sidebar {
   width: 21%;
   background: #BD4932;
}

.feed {
	width: 21%;
	background: lightgreen;
}

.footer {
   display: table-row;
   height: 20px;
   background: gray;
   color: #FFFAD5;
}

h2 {
	margin-top: 5px;
	font-size: 17px;
}

.card-section, .deck-section {
	height: 45vh;
}

#card-content-box {
	margin-top: 6px;
	border: solid 1px black;
	height: 35vh;
}

#deck-content-box {
	margin-top: 6px;
	border: solid 1px black;
	height: 35vh;
}

#name-button, #category-button, #rating-button {
	width: 12em;
}

#user-bucket-name {
	font-size: 1.5em;
	display: block;
	width: 75%;
	margin: 10px auto;
}

.cards-list {
	width: 80%;
	height: 70%;
	background-color: lavender;
	padding-top: 20px;
	margin: 15px auto 0 auto;
}

#main-page-table {
	width: 100%;
	margin: 10px auto;
}

th {
	text-align: center;
}

table, th, td {
	border: 1px solid black;
}

#user-name {
	margin-right: 15px;
}

.sidebar-content {
	width: 90%;
	height: 65vh;
	background-color: gray;
	margin: 0 auto;
}

.sidebar-buttons {
	display: flex;
	width: 20vw;
	height: 12vh;
	background-color: transparent;
	margin: 0 auto;
	justify-content: center;
}

.icon:hover {
	filter: hue-rotate(45deg);
}

.icons {
 	width: 3.1rem;
	height: 3.1rem;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 100%;
  display: block;
  border: none;
  outline: none;
  margin: 18px;

}

.add-button {
	background-image: url(../images/plus-circle.png);
}

.edit-button {
	background-image: url(../images/pencil-alt.png);
}

.trash-button {
	background-image: url(../images/trash-alt.png);
}

.left-button {
	background-image: url(../images/left.png);
	background-size: 60%;
	width: 5.5rem;
	height: 5.5rem;
	margin: 2px;
}

.right-button {
	background-image: url(../images/right.png);
	background-size: 60%;
	width: 5.5rem;
	height: 5.5rem;
	margin: 2px;
}

.rotate-button {
	background-image: url(../images/rotate.png);
	width: 5.5rem;
	height: 5.5rem;
	margin: 2px;
}

#main-content {
	display: grid;
	width: 98%;
	height: 65vh;
	background-color: gray;
	margin: 0 auto;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

.main-header-group {
	grid-column: 1 / 9;
	grid-row: 1 / 2;
	background-color: green;
}

.main-button-group {
	display: block;
	width: 70%;
	margin: 0 auto;
}

.left-div {
	grid-column: 1 / 2;
	grid-row: 4 / 6;
	width: 65%;
	justify-content: center;
}

.right-div {
	grid-column: 8 / 9;
	grid-row: 4 / 6;
	width: 65%;
	justify-content: center;
}

.cards-table {
	grid-column: 2 / 8;
	grid-row: 2 / 5;
}

.rotate-div {
	grid-column: 1 / 6;
	grid-row: 8 / 9;
}

.item {
	border: solid 1px black;
}









/*#main-content {
	width: 80%;
	height: 500px;
	background-color: gray;
}*/



/*html, h1, div, hr {
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 20px;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

.title-header {
	background-color: red;
	width: 100%;
	height: 70px;
	margin: 0 auto;
	padding-top: 10px;
}

#sidebar-section {
	background-color: lightgreen;
	width: 20%;
	padding: 5px;
	height: 100vh;
}

#main-section {
	background-color: tan;
	width: 60%;
	height: 100vh;
}

#feed-section {
	background-color: lightpink;
	width: 20%;
	height: 100vh;
	padding: 2px;
}

#header-buttons-section{
	padding-top: 8px;
}

#login-button {
	margin-right: 10px;
	width: 75px;
}

#signup-button {
	margin-right: 10px;
	width: 75px;
}

.demo-deck-list {
	display: inline-block;
	margin: 0 auto;
	margin-top: 45%;
	width: 80%;
	list-style-type: none;
	border: solid 2px black;
}

#card-feed-section {
	width: 95%;
	height: 30vh;
}

#deck-feed-section {
	width: 95%;
	height: 45vh;
}

#card-feed-box {
	width: 85%;
	height: 130%;
	margin: 0 auto;
	margin-bottom: 10px;
	padding 5px;
	border: 1px solid black;
}

#deck-feed-box {
	width: 85%;
	height: 105%;
	margin-top: 5px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid black;
}

#card-feed-heading {

}

#deck-feed-heading {
	margin-top: 90px;
}

.btn-group {
	margin: 0 auto;
	padding-left: 40px;
}*/