
* {
   margin: 0;
   padding: 0;
}

html,
body {
   height: 100%;
}

body {
   background-color: lightblue;
   color: black;
}


.wrapper {
   height: 100%;
   display: table;
   width: 100%;
   text-align: center;
}
.header {
   display: table-row;
   height: 15px;
   width: 100%;
   margin 
   background-color: lightblue;
}

#header-title {
	margin-top: 2px;
	padding: 5px 0;
	font-size: 2.2em;
}
.main {
   height: 100%;
   display: table;
   width: 100%;
   background-color: lightpink;
}
.box {
   display: table-cell;
}
.sidebar {
   width: 21%;
   background: #BD4932;
}

.feed {
	width: 21%;
	background: lightgreen;
}

.footer {
   display: table-row;
   height: 20px;
   background: gray;
   color: #FFFAD5;
}

h2 {
	margin-top: 5px;
	font-size: 17px;
}

.card-section, .deck-section {
	height: 45vh;
}

#card-content-box {
	margin-top: 6px;
	border: solid 1px black;
	height: 35vh;
}

#deck-content-box {
	margin-top: 6px;
	border: solid 1px black;
	height: 35vh;
}

#name-button, #created-date-button, #category-button, #rating-button {
	width: 10em;
}

#user-bucket-name {
	font-size: 1.5em;
	margin-top: 10px;
}


/*#main-content {
	width: 80%;
	height: 500px;
	background-color: gray;
}*/



/*html, h1, div, hr {
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 20px;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

.title-header {
	background-color: red;
	width: 100%;
	height: 70px;
	margin: 0 auto;
	padding-top: 10px;
}

#sidebar-section {
	background-color: lightgreen;
	width: 20%;
	padding: 5px;
	height: 100vh;
}

#main-section {
	background-color: tan;
	width: 60%;
	height: 100vh;
}

#feed-section {
	background-color: lightpink;
	width: 20%;
	height: 100vh;
	padding: 2px;
}

#header-buttons-section{
	padding-top: 8px;
}

#login-button {
	margin-right: 10px;
	width: 75px;
}

#signup-button {
	margin-right: 10px;
	width: 75px;
}

.demo-deck-list {
	display: inline-block;
	margin: 0 auto;
	margin-top: 45%;
	width: 80%;
	list-style-type: none;
	border: solid 2px black;
}

#card-feed-section {
	width: 95%;
	height: 30vh;
}

#deck-feed-section {
	width: 95%;
	height: 45vh;
}

#card-feed-box {
	width: 85%;
	height: 130%;
	margin: 0 auto;
	margin-bottom: 10px;
	padding 5px;
	border: 1px solid black;
}

#deck-feed-box {
	width: 85%;
	height: 105%;
	margin-top: 5px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid black;
}

#card-feed-heading {

}

#deck-feed-heading {
	margin-top: 90px;
}

.btn-group {
	margin: 0 auto;
	padding-left: 40px;
}*/