body {
    background-color: gainsboro;
  }
  
  /* #CDA79E,#C6C3BE,#AEB7BC,#C7A489,#C0D3CF,#CDA79E,#C6C3BE,#AEB7BC */

  #create-folder {
    border-style: solid;
    border-color: cornflowerblue;
    display: block;
    margin: auto;
    width: 30%;
    background-color: rgba(16, 202, 248, 0.322);
    margin-top: 10%;
  
  }
  
  #folder-form-div {
    margin-top: 5%;
  }

  #edit-folder {
    border-style: solid;
    border-color: cornflowerblue;
    display: block;
    margin: auto;
    width: 30%;
    background-color: rgba(16, 202, 248, 0.322);
    margin-top: 10%;
  
  }
  
  #edit-form-div {
    margin-top: 5%;
  }
  
  #cancel, #submit {
    margin: 3%;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }