body {
   background-color: gainsboro;
}

#form-row {
   border-style: solid;
   border-color: cornflowerblue;
   display: block;
   margin: auto;
   width: 40%;
   background-color: rgba(16, 202, 248, 0.322);
   margin-top: 12%;

}

#cancel, #submit {
   margin: 3%;
}

h1 {
   text-align: center;
}

h2 {
   text-align: center;
}

